<%- include('header') %>

<div class="result">
    <% if (error) { %>
        <%- error %>
<% } else { %>
        USD
        <%- quantidade %> 
        na cotação USD
        <%- cotacao %> é igual a: R$ <%- conversao %>
    <% } %>
</div>

<%- include('footer') %>